<h3>Login</h3>

<div class="container-fluid">
    <div class="row content">
        <form name="formLogin">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">Login</div>
                    <div class="panel-body">
                        <div class="form-group" ng-class="{ 'has-error' : apelido.$invalid }">
                            <label for="apelido">Apelido</label>
                            <div class="input-group">
                                <input ng-model="vm.loginData.apelido" ng-minlength="3" ng-maxlength="100"
                                       type="text" class="form-control" id="apelido" name="apelido"
                                       placeholder="Informe o apelido do seu usuário" required />
                                <a href="#/users/create" class="input-group-addon btn btn-success" data-toggle="tooltip" title="Adicionar novo Usuário">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </a>
                            </div>
                            <div class="alert-danger">
                                <div ng-messages="formLogin.apelido.$error">
                                    <div ng-repeat="errorMessage in errorMessages">
                                        <div ng-message-exp="errorMessage.type">{{ errorMessage.text }}</div>
                                    </div>
                                    <div ng-messages-include="app/templates/messages.html"></div>
                                </div>
                            </div>
                        </div>
						
                        <div class="form-group" ng-class="{ 'has-error' : senha.$invalid }">
                            <label for="senha">Senha</label>
                            <div class="input-group">
                                <input ng-model="vm.loginData.senha" ng-minlength="6" ng-maxlength="100"
                                       type="password" id="senha" name="senha" class="form-control" ng-keyup="vm.keypress($event)"
                                       placeholder="Informe a senha do seu usuário" required />
                                <a href="javascript:void(0)" class="input-group-addon btn btn-primary" ng-click="vm.logon()"
                                   data-toggle="tooltip" title="Conectar no chat" ng-disabled="formLogin.$invalid">
                                    <span class="glyphicon glyphicon-log-in"></span>
                                </a>
                                
                            </div>
                            <div class="alert-danger">
                                <div ng-messages="formLogin.senha.$error">
                                    <div ng-messages-include="app/templates/messages.html"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8"></div>
        </form>

        <!--<pre>formUser = {{formLogin | json}}</pre><br />-->

    </div>
</div>