<h3>Voluntário</h3>

<a href="#/voluntarios/create" class="btn btn-success btn-lg pull-right">
    <i class="fa fa-plus"></i> Adicionar
</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th class="text-left">Nome</th>
            <th class="text-left">Telefone</th>
            <th class="text-left">Celular</th>
            <th class="text-left">Profissão</th>
            <th class="text-left">Ativo</th>
            <th class="text-left">Criado em</th>
            <th class="text-left">Alterado em</th>
            <th class="text-center"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="8">
                <input type="text" class="form-control" ng-model="filter_voluntario" value="" placeholder="Filtrar..." />
            </td>
        </tr>
        <tr ng-repeat="voluntario in vm.voluntarios | filter: filter_voluntario">
            <td class="text-left">{{ voluntario.nome }}</td>
            <td class="text-left">{{ voluntario.telefone }}</td>
            <td class="text-left">{{ voluntario.celular }}</td>
            <td class="text-left">{{ voluntario.profissao }}</td>
            <td class="text-left">{{ voluntario.ativo | filterYesNo }}</td>
            <td class="text-left">{{ voluntario.dataCriacao | date: 'dd/MM/yyyy HH:mm' }}</td>
            <td class="text-left">{{ voluntario.dataAlteracao | date: 'dd/MM/yyyy HH:mm' }}</td>
            <td class="text-center">
                <div class="btn-group">
                    <a href="#/voluntarios/edit/{{ voluntario.id }}" class="btn btn-group btn-default btn-sm"><i class="fa fa-edit">Editar</i></a>
                    <a href="#/voluntarios/remove/{{ voluntario.id }}" class="btn btn-group btn-danger btn-sm"><i class="fa fa-remove">Apagar</i></a>
                </div>
            </td>
        </tr>
    </tbody>
</table>