<h3>Novo Campo</h3>

<div class="container-fluid">
    <div class="row content">
        <form name="formCampo">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">Campo</div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="scriptId">Id da Script</label>
                            <input ng-model="vm.campo.scriptId"
                                   type="text"
                                   class="form-control"
                                   id="scriptId"
                                   name="scriptId"
                                   readonly />
                        </div>

                        <div class="form-group" ng-class="{ 'has-error' : atributo.$invalid }">
                            <label for="atributo">Atributo</label>
                            <select ng-model="vm.selectedAtributo" ng-options="x as x.description for x in vm.Atributos track by x.id" 
                                    class="form-control"
                                    id="atributo"
                                    name="atributo"
                                    placeholder="Ex.: Primary Key"
                                    required></select>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error' : tipoCampo.$invalid }">
                            <label for="tipoCampo">Tipo</label>
                            <select ng-model="vm.selectedTipo" ng-options="x as x.description for x in vm.Tipos track by x.id" 
                                    class="form-control"
                                    id="tipoCampo"
                                    name="tipoCampo"
                                    placeholder="Ex.: Integer"
                                    required></select>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error' : nome.$invalid }">
                            <label for="nomeServidor">Nome do Campo</label>
                            <input ng-model="vm.campo.nomeCampo"
                                   ng-minlength="3"
                                   ng-maxlength="100"
                                   type="text"
                                   class="form-control"
                                   id="nome"
                                   name="nome"
                                   placeholder="Ex.: PK_FUNCIO"
                                   required />
                            <div class="alert-danger">
                                <div ng-messages="formCampo.nome.$error">
                                    <div ng-repeat="errorMessage in errorMessages">
                                        <div ng-message-exp="errorMessage.type">{{ errorMessage.text }}</div>
                                    </div>
                                    <div ng-messages-include="app/templates/messages.html"></div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error' : descricao.$invalid }">
                            <label for="senha">Descrição</label>
                            <input ng-model="vm.campo.descricaoCampo"
                                   ng-maxlength="100"
                                   type="text"
                                   class="form-control"
                                   id="descricao"
                                   name="descricao"
                                   placeholder="Ex.: Campo Itens de Auto Custo" />
                            <div class="alert-danger">
                                <div ng-messages="formCampo.descricao.$error">
                                    <div ng-messages-include="app/templates/messages.html"></div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error' : tamanhoCampo.$invalid }">
                            <label for="tamanhoCampo">Tamanho</label>
                            <input ng-model="vm.campo.tamanhoCampo"
                                   ng-maxlength="100"
                                   type="text"
                                   class="form-control"
                                   id="tamanhoCampo"
                                   name="tamanhoCampo"
                                   placeholder="Ex.: 255" />
                            <div class="alert-danger">
                                <div ng-messages="formCampo.tamanhoCampo.$error">
                                    <div ng-messages-include="app/templates/messages.html"></div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error' : valorCampo.$invalid }">
                            <label for="valorCampo">Valor</label>
                            <input ng-model="vm.campo.valorCampo"
                                   ng-maxlength="100"
                                   type="text"
                                   class="form-control"
                                   id="valorCampo"
                                   name="valorCampo"
                                   placeholder="Ex.: Teste" />
                            <div class="alert-danger">
                                <div ng-messages="formCampo.valorCampo.$error">
                                    <div ng-messages-include="app/templates/messages.html"></div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error' : notNull.$invalid }">
                            <label for="notNull">Not Null</label>
                            <input ng-model="vm.campo.notNull"
                                   type="checkbox"
                                   class="form-control"
                                   id="notNull"
                                   name="notNull" />
                            <div class="alert-danger">
                                <div ng-messages="formCampo.notNull.$error">
                                    <div ng-messages-include="app/templates/messages.html"></div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error' : mnemonicoRefFk.$invalid }">
                            <label for="mnemonicoRefFk">Mnemônico da script de referência (Somente para FK)</label>
                            <input ng-model="vm.campo.mnemonicoRefFk"
                                   ng-maxlength="100"
                                   type="text"
                                   class="form-control"
                                   id="mnemonicoRefFk"
                                   name="mnemonicoRefFk"
                                   placeholder="Ex.: FUNCIO" />
                            <div class="alert-danger">
                                <div ng-messages="formCampo.mnemonicoRefFk.$error">
                                    <div ng-messages-include="app/templates/messages.html"></div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error' : fieldRefFk.$invalid }">
                            <label for="fieldRefFk">Campo da script de referência (Somente para FK)</label>
                            <input ng-model="vm.campo.fieldRefFk"
                                   ng-maxlength="100"
                                   type="text"
                                   class="form-control"
                                   id="fieldRefFk"
                                   name="fieldRefFk"
                                   placeholder="Ex.: PK_FUNCIO" />
                            <div class="alert-danger">
                                <div ng-messages="formCampo.fieldRefFk.$error">
                                    <div ng-messages-include="app/templates/messages.html"></div>
                                </div>
                            </div>
                        </div>

                        <p class="text-center">
                            <button type="button"
                                    class="btn btn-primary btn-lg"
                                    ng-disabled="formCampo.$invalid"
                                    ng-click="vm.save()">
                                Salvar
                            </button>
                            <button type="button"
                                    class="btn btn-default btn-lg"
                                    ng-click="vm.cancel()">
                                Cancelar
                            </button>
                        </p>
                    </div>
                </div>
            </div>
        </form>

        <!--<pre>formCampo = {{formCampo | json}}</pre><br />-->

    </div>
</div>