<h3 class="text-center">Campos</h3>

<div class="form-group">
    <div class="col-md-6">
        <button class="btn btn-default btn-lg glyphicon glyphicon-share-alt" ng-click="vm.backToTable()" data-toggle="tooltip" title="Voltar para a Script [id = {{vm.scriptId}}]"></button>
    </div>
    <div class="col-md-6">
        <a href="#/campos/create/{{vm.scriptId}}" class="btn btn-success btn-lg pull-right" data-toggle="tooltip" title="Adicionar novo Campo">
            <span class="glyphicon glyphicon-plus"></span>
        </a>
    </div>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th class="text-left">Nome do Campo</th>
			<th class="text-left">Descrição</th>
			<th class="text-left">Tipo</th>
            <th class="text-left">Atributo</th>
            <th class="text-left">Tamanho</th>
			<th class="text-left">Valor</th>
			<th class="text-left">Data</th>
            <th class="text-center"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="8">
                <input type="text" class="form-control" ng-model="filter_campo" value="" placeholder="Filtrar..." />
            </td>
        </tr>
        <tr ng-repeat="campo in vm.campos | filter: filter_campo">
            <td class="text-left">{{ campo.nomeCampo }}</td>
            <td class="text-left">{{ campo.descricaoCampo }}</td>
            <td class="text-left">{{ campo.tipoCampo }}</td>
            <td class="text-left">{{ campo.atributo }}</td>
            <td class="text-left">{{ campo.tamanhoCampo }}</td>
            <td class="text-left">{{ campo.valorCampo }}</td>
            <td class="text-left">{{ campo.dataCriacao | date: 'dd/MM/yyyy HH:mm' }}</td>
            <td class="text-center">
                <div class="btn-group">
                    <a href="#/campos/edit/{{ campo.id }}" class="btn btn-group btn-default btn-sm" data-toggle="tooltip" title="Editar Campo"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a href="#/campos/remove/{{ campo.id }}" class="btn btn-group btn-danger btn-sm" data-toggle="tooltip" title="Apagar Campo"><span class="glyphicon glyphicon-trash"></span></a>
                </div>
            </td>
        </tr>
    <!--</tbody>-->
</table>