<h3>Nova Tabela</h3>

<div class="container-fluid">
    <div class="row content">
        <form name="formTabela">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">Tabela</div>
                    <div class="panel-body">
                        <div class="form-group" ng-class="{ 'has-error' : nome.$invalid }">
                            <label for="nomeServidor">Nome da Tabela</label>
                            <input ng-model="vm.tabela.nomeTabela"
                                   ng-minlength="3"
                                   ng-maxlength="100"
                                   type="text"
                                   class="form-control"
                                   id="nome"
                                   name="nome"
                                   placeholder="Ex.: TB_FUNCIONARIO"
                                   required />
                            <div class="alert-danger">
                                <div ng-messages="formTabela.nome.$error">
                                    <div ng-repeat="errorMessage in errorMessages">
                                        <div ng-message-exp="errorMessage.type">{{ errorMessage.text }}</div>
                                    </div>
                                    <div ng-messages-include="app/templates/messages.html"></div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error' : descricao.$invalid }">
                            <label for="ip">Código</label>
                            <input ng-model="vm.tabela.descricaoTabela"
                                   ng-minlength="1"
                                   ng-maxlength="100"
                                   type="text"
                                   class="form-control"
                                   id="descricao"
                                   name="descricao"
                                   placeholder="Ex.: Tabela de funcionários"
                                   required />
                            <div class="alert-danger">
                                <div ng-messages="formTabela.descricao.$error">
                                    <div ng-messages-include="app/templates/messages.html"></div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error' : tipoScript.$invalid }">
                            <label for="tipoScript">Tipo</label>
                            <select ng-model="vm.tabela.tipo" ng-options="x for x in vm.tipos"
                                    class="form-control"
                                    id="tipoScript"
                                    name="tipoScript"
                                    placeholder="Ex.: CREATE"
                                    required></select>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error' : mnemonico.$invalid }">
                            <label for="mnemonico">Mnemônico</label>
                            <input ng-model="vm.tabela.mnemonico"
                                   ng-maxlength="100"
                                   type="text"
                                   class="form-control"
                                   id="mnemonico"
                                   name="mnemonico"
                                   placeholder="Ex.: FUNCIO" />
                            <div class="alert-danger">
                                <div ng-messages="formTabela.mnemonico.$error">
                                    <div ng-messages-include="app/templates/messages.html"></div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error' : script.$invalid }">
                            <label for="script">Script</label>
                            <input ng-model="vm.tabela.script"
                                   ng-maxlength="100"
                                   type="text"
                                   class="form-control"
                                   id="script"
                                   name="script"
                                   placeholder="Ex.: select * from tb_funcionario" />
                            <div class="alert-danger">
                                <div ng-messages="formTabela.script.$error">
                                    <div ng-messages-include="app/templates/messages.html"></div>
                                </div>
                            </div>
                        </div>

                        <p class="text-center">
                            <button type="button"
                                    class="btn btn-primary btn-lg"
                                    ng-disabled="formTabela.$invalid"
                                    ng-click="vm.save()">
                                Salvar
                            </button>
                            <button type="button"
                                    class="btn btn-default btn-lg"
                                    ng-click="vm.cancel()">
                                Cancelar
                            </button>
                        </p>
                    </div>
                </div>
            </div>
        </form>

        <!--<pre>formTabela = {{formTabela | json}}</pre><br />-->

    </div>
</div>