
<div class="container-fluid">
    <div class="row content">
        <form name="formProjeto">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">Projeto</div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="id">Id</label>
                            <input ng-model="vm.projeto.id"
                                   type="text"
                                   class="form-control"
                                   id="id"
                                   name="id"
                                   readonly />
                        </div>

                        <div class="form-group" ng-class="{ 'has-error' : nome.$invalid }">
                            <label for="nomeServidor">Nome do Projeto</label>
                            <input ng-model="vm.projeto.nome"
                                   ng-minlength="3"
                                   ng-maxlength="100"
                                   type="text"
                                   class="form-control"
                                   id="nome"
                                   name="nome"
                                   placeholder="Ex.: Auto Custo"
                                   required />
                            <div class="alert-danger">
                                <div ng-messages="formProjeto.nome.$error">
                                    <div ng-repeat="errorMessage in errorMessages">
                                        <div ng-message-exp="errorMessage.type">{{ errorMessage.text }}</div>
                                    </div>
                                    <div ng-messages-include="app/templates/messages.html"></div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error' : codigo.$invalid }">
                            <label for="ip">Código</label>
                            <input ng-model="vm.projeto.codigo"
                                   ng-minlength="1"
                                   ng-maxlength="100"
                                   type="text"
                                   class="form-control"
                                   id="codigo"
                                   name="codigo"
                                   placeholder="Ex.: 57"
                                   required />
                            <div class="alert-danger">
                                <div ng-messages="formProjeto.codigo.$error">
                                    <div ng-messages-include="app/templates/messages.html"></div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error' : autor.$invalid }">
                            <label for="porta">Autor</label>
                            <input ng-model="vm.projeto.autor"
                                   ng-maxlength="100"
                                   type="text"
                                   class="form-control"
                                   id="autor"
                                   name="autor"
                                   placeholder="Ex.: José"
                                   required />
                            <div class="alert-danger">
                                <div ng-messages="formProjeto.autor.$error">
                                    <div ng-messages-include="app/templates/messages.html"></div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error' : tarefa.$invalid }">
                            <label for="usuario">Tarefa</label>
                            <input ng-model="vm.projeto.tarefa"
                                   ng-maxlength="100"
                                   type="text"
                                   class="form-control"
                                   id="tarefa"
                                   name="tarefa"
                                   placeholder="Ex.: 4759" />
                            <div class="alert-danger">
                                <div ng-messages="formProjeto.tarefa.$error">
                                    <div ng-messages-include="app/templates/messages.html"></div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error' : descricao.$invalid }">
                            <label for="senha">Descrição</label>
                            <input ng-model="vm.projeto.descricao"
                                   ng-maxlength="100"
                                   type="text"
                                   class="form-control"
                                   id="descricao"
                                   name="descricao"
                                   placeholder="Ex.: Projeto Itens de Auto Custo" />
                            <div class="alert-danger">
                                <div ng-messages="formProjeto.descricao.$error">
                                    <div ng-messages-include="app/templates/messages.html"></div>
                                </div>
                            </div>
                        </div>

                        <label class="text-left">Criado em: {{ vm.projeto.dataCriacao | date: 'dd/MM/yyyy HH:mm' }}</label>
                        <br />
                        <label class="text-left">Alterado em: {{ vm.projeto.dataAlteracao | date: 'dd/MM/yyyy HH:mm' }}</label>
                        <br />
                        <div>
                            <button class="btn btn-default btn-lg" ng-click="vm.seeTables()">Ver Tabelas</button>
                        </div>

                        <div class="clearfix"></div>

                        <p class="text-center">
                            <button class="btn btn-primary btn-lg" ng-click="vm.save()">
                                Salvar
                            </button>
                            <button class="btn btn-secondary btn-lg" ng-click="vm.cancel()" ng-show="vm.projeto.id != 0">
                                Cancelar
                            </button>
                        </p>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>