<h3 class="text-center">Projetos</h3>

<a href="#/projetos/create" class="btn btn-success btn-lg pull-right" data-toggle="tooltip" title="Adicionar novo Projeto">
    <span class="glyphicon glyphicon-plus"></span>
</a>
<div>
    <input type="text" class="form-control" ng-model="filter_projeto" value="" placeholder="Filtrar..." />
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th class="text-left">Nome do Projeto</th>
			<th class="text-left">Código</th>
			<th class="text-left">Autor</th>
            <th class="text-left">Tarefa</th>
            <th class="text-left">Descrição</th>
			<th class="text-left">Validado</th>
			<th class="text-left">Data</th>
            <th class="text-center"></th>
        </tr>
    </thead>
    <tbody ng-repeat="projeto in vm.projetos | filter: filter_projeto">
        <tr>
            <td class="text-left">{{ projeto.nome }}</td>
            <td class="text-left">{{ projeto.codigo }}</td>
            <td class="text-left">{{ projeto.autor }}</td>
            <td class="text-left">{{ projeto.tarefa }}</td>
            <td class="text-left">{{ projeto.descricao }}</td>
            <td class="text-left">{{ projeto.validado }}</td>
            <td class="text-left">{{ projeto.dataCriacao | date: 'dd/MM/yyyy HH:mm' }}</td>
            <td class="text-center">
                <div class="btn-group">
                    <a href="#/projetos/download/{{ projeto.id }}/{{ projeto.codigo }}" class="btn btn-group btn-default btn-sm" data-toggle="tooltip" title="Gerar Arquivo Passo"><span class="glyphicon glyphicon-download-alt"></span></a>
                    <a href="#/projetos/edit/{{ projeto.id }}" class="btn btn-group btn-default btn-sm" data-toggle="tooltip" title="Editar Projeto"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a href="#/projetos/remove/{{ projeto.id }}" class="btn btn-group btn-danger btn-sm" data-toggle="tooltip" title="Apagar Projeto"><span class="glyphicon glyphicon-trash"></span></a>
                </div>
            </td>
        </tr>
    </tbody>
</table>