<h3>Login</h3>
    
<div class="container-fluid">
    <div class="row content">
        <form name="formChat">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="chat panel-heading">
                        <div class="row">
                            <div class="col-sm-1 span2">
                                <table class="table table-striped">
                                    <tbody>
                                        <tr ng-show="!(vm.onlineUsers).length">
                                            <td>
                                                <input type="text" class="form-control" ng-model="filter_user" value="" placeholder="Filtrar..." />
                                            </td>
                                        </tr>
                                        <tr ng-repeat="user in vm.onlineUsers | filter: filter_user">
                                            <td class="text-left">{{ contato.nome }}</td>
                                            <td class="text-left">{{ user.Apelido }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-sm-11 span4">
                                <ul id="msgs" class="unstyled">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div name="formSend">
    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-footer">
                <div class="row">
                    <div id="chat" class="chat" style="height: 40px;">
                        <div class="form-group" ng-class="{ 'has-error' : nome.$invalid }">
                            <div class="input-group">
                                <input ng-model="vm.message" ng-minlength="1" ng-maxlength="250"
                                       class="form-control" id="msg" name="msg" ng-keypress="vm.keypress($event)"
                                       placeholder="Digite sua mensagem"
                                       required />
                                <a ng-href="vm.send()" ng-disabled="formSend.$invalid || !vm.canSend"
                                   class="input-group-addon btn btn-success"
                                   data-toggle="tooltip" title="Enviar mensagem">
                                    <span class="glyphicon glyphicons-send"></span>
                                </a>
                                <a ng-href="vm.logout()" class="input-group-addon btn btn-danger "
                                   data-toggle="tooltip" title="Desconectar do Chat">
                                    <span class="glyphicon glyphicons-log-out"></span>
                                </a>
                            </div>    
                            <div class="alert-danger">
                                <div ng-messages="formUser.nome.$error">
                                    <div ng-repeat="errorMessage in errorMessages">
                                        <div ng-message-exp="errorMessage.type">{{ errorMessage.text }}</div>
                                    </div>
                                    <div ng-messages-include="app/templates/messages.html"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--
    <script type="text/javascript">
        /*let transportType = signalR.TransportType.WebSockets;
        let http = new signalR.HttpConnection('http://' + document.location.host + '/messenger', { transport: transportType });
        let connection = new signalR.HubConnection(http);

        function msgTo(ID) {
            if (isConnected()) {
                if ($("#msg").val() != "") {
                    let message = $('#msg').val();
                    let nick = $('#name').text();
                    //socketio.emit("sendTo", ID, $("#msg").val(), $("#name").val());
                    connection.invoke('SendTo', nick, message);
                    event.preventDefault();
                    $("#msg").val("");
                }
            }
        }*/

        //function isConnected() {
            /*if (!socketio.connected)
            {
                alert('Sorry, the connection was lost');
            }
            return socketio.connected;
            */
            //return true;
        //}

        //$(document).ready(function () {
            //var ready = false;

            //$(".chat").hide();
            /*$("#name").focus();
            $("form").submit(function (event) {
                event.preventDefault();
            });
            */

            //connection.start();



            /*connection.on('Join', (nick, response) => {
                if (ready) {
                    $("#people").empty();
                    $.each(people, function (clientid, response) {
                        $('#people').append("<br/>" + response["html"] + "");
                    });
                }
            });*/


            /*
                if(ready) {
                    $("#people").empty();
                    $.each(people, function(clientid, name) {
                        $('#people').append("<br/>" + name["html"] + "");
                    });
                }
            });

            socketio.on("chat", function(who, msg){
                if(ready) {
                    $("#msgs").append("<br/>" + who + " says: " + msg + "");
                }
            });

            socketio.on('connect', function() {
                console.log('Connected');
            });

            socketio.on('disconnect', function () {
                console.log("Disconnected");
            });
            */

            /*$("#join").click(function(){
                var nick = $("#name").val();
                if (nick != "") {
                    if (isConnected()){
                        connection.invoke('Join');
                        $("#login").hide();//detach();
                        $(".chat").show();
                        $("#msg").focus();
                        ready = true;
                    }
                }
            });
            //If user press enter
            $("#name").keypress(function(e){
                if(e.which == 13) {
                    $("#join").click();
                }
            });
            */

            /*$("#send").click(function () {
                if (isConnected()) {
                    var message = $("#msg").val();
                    if (message != "") {
                        var nick = $("#name").val();
                        //socketio.emit("sendAll", msg, $("#name").val());
                        connection.invoke('SendAll', nick, message);
                        $("#msg").val("");
                    }
                }
            });            
            //If user press enter
            $("#msg").keypress(function (e) {
                if (e.which == 13) {
                    $("#send").click();
                }
            });

            $("#logoff").click(function () {
                $("#name").val("");
                $("#msgs").empty();
                $("#people").empty();
                $("#login").show();
                $(".chat").hide();
                //socketio.disconnect();
                connection.stop();
                location.reload(true)
            });
            */
        //})
    </script>
-->