<h3 class="text-center">Membros Apoiados</h3>

<a href="#/apoiados/create" class="btn btn-success btn-lg pull-right">
    <i class="fa fa-plus"></i> Adicionar
</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th class="text-left">Nome</th>
            <th class="text-left">Telefone</th>
            <th class="text-left">Celular</th>
            <th class="text-left">Data Nascimento</th>
            <th class="text-left">Ativo</th>
            <th class="text-left">Criado em</th>
            <th class="text-left">Alterado em</th>
            <th class="text-center"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="8">
                <input type="text" class="form-control" ng-model="filter_apoiado" value="" placeholder="Filtrar..." />
            </td>
        </tr>
        <tr ng-repeat="apoiado in vm.apoiados | filter: filter_apoiado">
            <td class="text-left">{{ apoiado.nome }}</td>
            <td class="text-left">{{ apoiado.telefone }}</td>
            <td class="text-left">{{ apoiado.celular }}</td>
            <td class="text-left">{{ apoiado.dataNascimento | date: 'dd/MM/yyyy' }}</td>
            <td class="text-left">{{ apoiado.ativo | filterYesNo }}</td>
            <td class="text-left">{{ apoiado.dataCriacao | date: 'dd/MM/yyyy HH:mm' }}</td>
            <td class="text-left">{{ apoiado.dataAlteracao | date: 'dd/MM/yyyy HH:mm' }}</td>
            <td class="text-center">
                <div class="btn-group">
                    <a href="#/apoiados/edit/{{ apoiado.id }}" class="btn btn-group btn-default btn-sm"><i class="fa fa-edit">Editar</i></a>
                    <a href="#/apoiados/remove/{{ apoiado.id }}" class="btn btn-group btn-danger btn-sm"><i class="fa fa-remove">Apagar</i></a>
                </div>
            </td>
        </tr>
    </tbody>
</table>