<h3>Novo Passo</h3>

<div class="container-fluid">
    <div class="row content">
        <form name="formPasso">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">Passo</div>
                    <div class="panel-body">
                        <div class="form-group" ng-class="{ 'has-error' : nome.$invalid }">
                            <label for="nomeServidor">Nome do Passo</label>
                            <input ng-model="vm.passo.nome"
                                   ng-minlength="3"
                                   ng-maxlength="100"
                                   type="text"
                                   class="form-control"
                                   id="nome"
                                   name="nome"
                                   placeholder="Ex.: Alto Custo"
                                   required />
                            <div class="alert-danger">
                                <div ng-messages="formPasso.nome.$error">
                                    <div ng-repeat="errorMessage in errorMessages">
                                        <div ng-message-exp="errorMessage.type">{{ errorMessage.text }}</div>
                                    </div>
                                    <div ng-messages-include="app/templates/messages.html"></div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error' : codigo.$invalid }">
                            <label for="codigo">Código</label>
                            <input ng-model="vm.passo.codigo"
                                   ng-minlength="1"
                                   ng-maxlength="100"
                                   type="text"
                                   class="form-control"
                                   id="codigo"
                                   name="codigo"
                                   placeholder="Ex.: 57"
                                   required />
                            <div class="alert-danger">
                                <div ng-messages="formPasso.codigo.$error">
                                    <div ng-messages-include="app/templates/messages.html"></div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error' : autor.$invalid }">
                            <label for="porta">Autor</label>
                            <input ng-model="vm.passo.autor"
                                   ng-maxlength="100"
                                   type="text"
                                   class="form-control"
                                   id="autor"
                                   name="autor"
                                   placeholder="Ex.: José"
                                   required />
                            <div class="alert-danger">
                                <div ng-messages="formPasso.autor.$error">
                                    <div ng-messages-include="app/templates/messages.html"></div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error' : tarefa.$invalid }">
                            <label for="usuario">Tarefa</label>
                            <input ng-model="vm.passo.tarefa"
                                   ng-maxlength="100"
                                   type="text"
                                   class="form-control"
                                   id="tarefa"
                                   name="tarefa"
                                   placeholder="Ex.: 4759" />
                            <div class="alert-danger">
                                <div ng-messages="formPasso.tarefa.$error">
                                    <div ng-messages-include="app/templates/messages.html"></div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error' : descricao.$invalid }">
                            <label for="senha">Descrição</label>
                            <input ng-model="vm.passo.descricao"
                                   ng-maxlength="100"
                                   type="text"
                                   class="form-control"
                                   id="descricao"
                                   name="descricao"
                                   placeholder="Ex.: Passo Itens de Alto Custo" />
                            <div class="alert-danger">
                                <div ng-messages="formPasso.descricao.$error">
                                    <div ng-messages-include="app/templates/messages.html"></div>
                                </div>
                            </div>
                        </div>

                        <p class="text-center">
                            <button type="button"
                                    class="btn btn-primary btn-lg"
                                    ng-disabled="formPasso.$invalid"
                                    ng-click="vm.save()">
                                Salvar
                            </button>
                            <button type="button"
                                    class="btn btn-default btn-lg"
                                    ng-click="vm.cancel()">
                                Cancelar
                            </button>
                        </p>
                    </div>
                </div>
            </div>
        </form>
        
        <!--<pre>formPasso = {{formPasso | json}}</pre><br />-->
    </div>
</div>